.background {}

.max-width-custom {
  max-width: 800px;
  margin: auto;

}

.estoque-width {
  width: 100%;
  border-radius: 8px;
}


.img-edite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  overflow: hidden;

}

/* Edição dropdown lista de produto */
  .dropdown-menu .dropdown-item {
  color: #212529; 
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f0f0f0; 
  color: #000;
}

tbody td{
  font-size: 14px;
}
