<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS e MySql</title>



    {{!--Botstrap--}}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    {{!-- biblioteca de icons --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">




    {{!--css--}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class=" bg-light">
    {{#unless ocultar_header}}
    <!-- Header Global -->
    <nav class="navbar navbar-expand-lg bg-light border-bottom px-3">
        <a class="navbar-brand text-dark fw-bold" href="/">AdminFood</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarConteudo">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarConteudo">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Produtos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-box-seam"></i> Produtos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/"><i class="bi bi-plus-circle"></i> Cadastrar</a></li>
                        <li><a class="dropdown-item" href="/estoquedia"><i class="bi bi-egg-fried"></i> Assados
                                Marisa</a></li>
                    </ul>
                </li>

                <!-- Pedidos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-receipt"></i> Pedidos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/registro-pedido"><i class="bi bi-pencil-square"></i>
                                Registrar Pedido</a></li>
                        <li><a class="dropdown-item" href="/pedidos"><i class="bi bi-list-check"></i> Pedidos Ativos</a>
                        </li>
                        <li><a class="dropdown-item" href="/pedidos-finalizados"><i class="bi bi-check2-circle"></i>
                                Pedidos Finalizados</a></li>
                    </ul>
                </li>

                <!-- Registros Inativos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-archive"></i> Registros Inativos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/produtos-inativos"><i class="bi bi-box"></i> Produtos
                                Inativos</a></li>
                        <li><a class="dropdown-item" href="/pedidos-deletados"><i class="bi bi-trash3"></i> Pedidos
                                Excluídos</a></li>
                    </ul>
                </li>

            </ul>
        </div>
       
    </nav>

    {{/unless}}

    <div class="container mt-4">
        <!-- Aqui serão inseridos os conteúdos das views -->
        {{{body}}}
    </div>

</body>
<script src="/js/flash.js"></script>
<script src="/js/pedidos.js"></script>
<script src="/js/listaPedidos.js"></script>


</html>