<main>
    <div class="container mt-4">
        {{#if pedidos.length}}
       
        {{else}}
        <div class="alert alert-info text-center">
            Nenhum pedido recebido ainda.
        </div>
        {{/if}}

    </div>
</main>